html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;

    background-color: #1e2022;
    color: #ccc;
    margin: 0 0;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

a { color: #6e7aac; text-decoration: none; }
a:visited { color: #6e7aac; text-decoration: none; }
a:hover { color: #6e7aac; text-decoration: underline; }

.wrapper {
    max-width: min(95%, 1600px);
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        max-width: 98%;
    }
}

.page-title {
    user-select: none;
    text-align: center;
    font-size: 2em;
}

.greeter {
    user-select: none;
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.greeter-element {
    margin-right: 1em;
}

/*
Styling for threads
*/

.thread-parent {
    padding: 0.5em 1em;
    margin-bottom: 5em;
    background-color: #151618;
}

@media only screen and (max-width: 600px) {
    .thread-parent {
        padding: 0.2em 0.5em;
    }
}

/* .thread-parent > .post-parent-r > .post-parent {
    background-color: #151618;
} */

.thread-parent > .post-parent-r {
    margin-left: -1em;
    border-left: none;
}

@media only screen and (max-width: 600px) {
    .thread-parent > .post-parent-r {
        margin-left: -0.4em;
    }
}

/*
Don't display replies or collapsible anchor for OP
*/
.thread-parent > .post-parent-r > .post-parent > .post-details-2 > .post-succ,
.thread-parent > .post-parent-r > .post-parent > .post-details > .post-collapsible-anchor {
    display: none;
}

.thread-details {
    user-select: none;
    margin-bottom: 0.5em;
}

.thread-replies {
    display: inline;
    color: #9ee7e0;
}

.thread-op,
.thread-op > a,
.thread-op > a:hover,
.thread-op > a:visited
{   
    color: #555;
    float: right;
}

.thread-sub {
    user-select: none;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.thread-time {
    display: none;
}

.thread-description {
    display: none;
}

.thread-thumbnail {
    user-select: none;
    height: 150px;
    max-width: 200px;
}

/*
Styling for thread options
*/

.thread-options {
    user-select: none;
    margin: 1em 0 0.5em -1em;
    padding-left: 1em;
    color: #666;
    text-align: right;
    float: right;
}

@media only screen and (max-width: 600px) {
    .thread-options {
        float: none;
    }
}

.thread-files-dump {
    display: block;
    margin: 0.5em  0 1em 0;
    text-align: left;
    color: #777;
}

.thread-files-dump > div > a {
    color: #579394;
}

/*
Styling for posts
*/

.post-parent-r {
    border-left: 1px solid #282a2e;
    margin-left: 1em;
}

@media only screen and (max-width: 600px) {
    .post-parent-r {
        margin-left: 0.4em;
    }
}

.post-parent-r > .no-embed { margin-left: 0em; }

.post-parent {
    background: #282a2e;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
}

.post-details {
    user-select: none;
    margin-bottom: 0.5em;
    color: #555;
}

.post-no {
    float: right;
}

.post-complexity {
    display: inline-flex;
    margin-right: 0.5em;
    color: #c676eb;
    max-width: calc(100% - 15em);
    overflow: hidden;
}

.post-complexity-number {
    display: inline;
    margin-right: 0.5em;
    color: #555;
}

.post-name {
    user-select: none;
    color: #a39c5f;
}

.post-sub {
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1em;
}

.post-file {
    word-break: break-all;
    margin-bottom: 0.4em;
}

.post-file > a {
    color: #579394;
}

.post-details-2 {
    user-select: none;
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #555;
    overflow: scroll;
    white-space: nowrap;
}

.post-details-2 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.post-details-2::-webkit-scrollbar { 
    display: none;
}

.post-a {
    display: inline;
}

.post-time,
.post-country-name,
.post-id {
    display: inline;
    margin-right: 1em;
    color: #555;
}

.post-succ {
    display: inline;
}

.post-succ > .post-a {
    margin-right: 1em;
}

.post {
    white-space: pre-line;
    word-break: break-word;
}

.green-text {
    display: inline;
    color: #b5bd68;
}

.reply-text {
    display: inline-flex;
    color: #6d9799;
}

/*
Styling for collapsible 
*/

.collapsed {
    min-height: 1.5em;
    max-height: 1.5em;
    overflow: hidden;
    background-color: #202022;
}

.collapsed-parent > .post-parent-r {
    display: none;
}

.collapsed-thread-parent {
    padding: 0.6em 1em;
    display: inline-block;
    vertical-align: top;
    height: 260px;
    width: 180px;
    margin-right: 1em;
    margin-bottom: 2em;
    line-height: 1.3em;
    overflow: hidden;
    position: relative;
}

.collapsed-thread-parent > .thread-thumbnail {
    height: 100px;
}

.collapsed-thread-parent > .thread-sub {
    font-size: 1.1em;
}

.collapsed-thread-parent > .thread-description {
    display: block;
    word-break: break-word;
}

.collapsed-thread-parent> .thread-options {
    display: none;
}

.collapsed-thread-parent > .thread-time {
    user-select: none;
    display: inline;
    color: #555;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
}

.collapsed-thread-parent > .post-parent-r {
    display: none;
}

.post-collapsible-anchor,
.thread-collapsible-anchor
{
    display: inline;
    margin-right: 0.5em;
    font-size: 1.4em;
    color: #555;
}

/*
pointer + underline for clicky stuff
*/

.post-collapsible-anchor:hover,
.thread-collapsible-anchor:hover,
.post-a:hover,
.post-no:hover,
.reply-text:hover,
.thread-maximize-replies:hover,
.thread-reset:hover,
.thread-files-all:hover
{
    cursor: pointer;
    text-decoration: underline;
}
