@import url("style.css");

:root {
    --body-bg: #1e2022;
    --code-bg: #151618;

    --thread-bg: #151618;
    --parent-bg: #282a2e;
    
    --collapsed-bg: #202022;
    --border-is-404d: #381919;
    --border-is-archived: #312d11;
    
    --body-fg-0: #bbb;
    --body-fg-1: #bbb;
    --link-fg: #6e7aac;
  
    --file-fg-0: #579394;
    --file-fg-1: #4f7576;
    --complexity-fg: #b35071;
    --greentext-fg: #b5bd68;
  
    --border-0: #2a2a2a;
    --border-1: #282a2e;
    --border-2: #111;
  
    --grey-0: #aaa;
    --grey-1: #555;
    --grey-2: #666;
    --grey-3: #777;
}
